@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--Outfit-font);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color :#23bcec;
    --primary-light :#eafbfb;
    --white-color :#fff;
    --black-color :#000 ;
    --text-color :#204f5e;
    --secondary-color :#ecb934;
    --text-light :#5a8695;
    --Bricolage-font: "Bricolage Grotesque", sans-serif; /* Fixed typo */
    --font: "Outfit", sans-serif;

    --transition-regulation : 0.3s;
    --transition-slow: 0.6s;
}
h1,h2,h3,h4,h5,h6 {
    font-family:var(--Bricolage-font);
    color: var(--text-color);
}

html{
    overflow-x: hidden;
}
.logo{
    @apply font-bricolage;
}

.logo span{
    @apply font-bricolage;
    color: var(--secondary-color)
}

.navbar{
    box-shadow: 0 4px 20px rgba(32,79,94,0.5);

}
.menu{
    transition: var(--transition-regular) !important;
}


.menu li a{
    position: relative;
    z-index: 1;
    padding: 2px 10px;
    display: inline-block;
    color: var(--text-color);
    transition: var(--transition-regular);

}

.menu li a:after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: var(--primary-light);
    transition: var(--transition-regular);
    z-index: -1;
    opacity: 0;
    transition-delay: 0.2s ;

}

.menu li:hover a:after{
    opacity: 1;
}

.nav-form input{
    border: 4px solid var(--primary-light);
    background-color: var(--primary-light);
    position: relative;
}

.nav-form i{
   position: absolute; 
   top: 45px;
   font-size: 1.1rem;
   right: 20px;
   color: var(--primary-color);
}

.nav-form .react-datepicker-wrapper{
    width: 100% !important;
}

@media screen and (max-width:1400px) {
    .navbar{
        padding: 20px 2%;
    }
}

@media screen and (max-width:900px) {
    .navbar{
        padding: 20px 4%;
    }
    .menu{
        line-height:3.25rem;
    }
}

.hero{
    min-height: 100vh;
    background-image: url(assets/Hero-image.png);
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    z-index: 9;
}

.contact-form{
    width: fit-content;
    border-radius: 10px 90px 90px 10px;
    box-shadow: 0 4px 20px rgba(32,79,94,0.5);
}

.contact-form i{
    font-size: 1.1rem;
    color: var(--primary-color);
}

.contact-form input{
    border: 4px solid var(--primary-light);
    background-color: var(--primary-light);
    position: relative;
}

.bi.bi-search {
    color: white;
  }

  @media screen and (max-width: 900px) {
    .contact-form {
        width: 100%;
        border-radius: 10px;
        flex-direction: column;
        padding: 30px;
    }

    .contact-form .react-datepicker-wrapper {
        width: 100%;
    }

    .contact-form input,
    .contact-form .react-datepicker__input-container input {
        width: 100%;
        padding-right: 40px; /* Add space for the icon */
    }

    .input-box {
        width: 100%;
    }
}